﻿@model IEnumerable<ProductManagement.MVC.Models.ProductViewModel>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<div class="p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Product list
            </h2>
        </div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct">
                <i class="bi bi-plus-circle"></i> &nbsp; Create new product
            </button>
        </div>
    </div>
    <br />
    <div class="row pt-4">
        <div class="col-8"></div>
        <div class="col-4 text-end">
            @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                <div class="input-group mb-3">
                    <input type="search" name="SearchName" class="form-control" placeholder="Search" aria-label="Search by name" aria-describedby="button-search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="button-search">Search</button>
                </div>
            }
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Product name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td width="70%">
                    @product.Name
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <button type="button" class="btn btn-info mx-2" data-bs-toggle="modal" data-bs-target="@("#productDetail-"+product.Id)">
                            <i class="bi bi-info-circle"></i>Details
                        </button>
                        @(await Html.PartialAsync("_ProductDetailsPartialView", product))

                        <button type="button" class="btn btn-secondary mx-2" data-bs-toggle="modal" data-bs-target="@("#EditProduct-"+product.Id)">
                            <i class="bi bi-pencil-square"></i>Edit
                        </button>
                        @await Html.PartialAsync("_EditProductPartialView", product)

                        <button type="button" class="btn btn-warning mx-2" data-bs-toggle="modal" data-bs-target="@("#DeleteProduct-" + product.Id)">
                            <i class="bi bi-trash3"></i>Delete
                        </button>
                        @await Html.PartialAsync("_DeleteProductPartialView", product)
                       
                        
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        @(await Html.PartialAsync("_ProductPartialView", new ProductViewModel()))
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    ;
}
